<style>
    #login-status {
        text-align: center;
    }
    .form-container {
        position: relative;
        height: 0;
        max-width: 30em;
        margin: 0 auto;
        padding: 0;
        overflow: hidden;
        transition: height 0.7s;
    }
    .form-div {
        display: none;
        text-align: center;
        margin: auto;
        animation-duration: 0.4s;
        margin-top: 0.5em;
    }
    .text-input {
        margin-right: 0.5em;
    }
    #menu-div {
        float: right;
    }
    #menu-link {
        text-align: right;
    }
    #menu-items-div {
        
    }
    #menu-ul {
        list-style-type: none;
    }
    #settings-container {
        max-height: 32.5em;
    }
    .login-strip-link {
        color: #c1d7e9 !important;
    }
    .form-title {
        background-color: lightgray;
        line-height: 2em;
        border-radius: 3px;
    }
    .close-icon-div {
        float: right;
        height: 100%;
        margin-right: 0.5em;
    }
    .close-icon {
        text-align: center;
    }
    @media (max-width: 767px) {
        #settings-container {
            max-height: 45em;
        }
    }
</style>
<div id="login-body" ng-app="loginModule">
    <div id="login-status" ng-controller="StatusController">
        <div id="login-loading" ng-show="!receivedLogin">
            <h4>Loading, please wait...</h4>
        </div>
        <div id="login-not-logged" ng-show="receivedLogin && !isLogged">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Not logged in. Please <a id="login-link" class="login-strip-link" href="#">login</a> or <a id="register-link" class="login-strip-link" href="#">register</a>.</h4>
                </div>
                    <div id="form-container" class="panel-body form-container">
                        <div id="register-div" class="form-div">
                            <form id="register-form" name="register-form" ng-controller="RegisterController" ng-submit="register()">
                            <h4 class="form-title"><div class="close-icon-div"><a class="close-icon-link" href="#"><i class="fa fa-times close-icon text-danger"></i></a></div>Register new user</h4>
                                <div class="form-group">
                                    <label class="sr-only" for="register-username">Username:</label>
                                    <input id="register-username" class="form-control text-input" type="text" name="username" ng-model="user.username" placeholder="User name"/>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="register-password">Password:</label>
                                    <input id="register-password" class="form-control text-input" type="password" name="password" ng-model="user.password" placeholder="Password"/>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="register-password-repeat">Repeat password:</label>
                                    <input id="register-password-repeat" class="form-control text-input" type="password" name="password-repeat" ng-model="user.passwordRepeat" placeholder="Repeat password"/>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="register-realname">Real name:</label>
                                    <input id="register-realname" class="form-control text-input" type="text" name="realname" ng-model="user.realname" placeholder="Real name"/>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="country">Country:</label>
                                    <select id="country" class="form-control" name="country" ng-model="user.country" placeholder="Country"></select>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="state">State:</label>
                                    <select name="state" id="state" class="form-control" ng-model="user.state" placeholder="State"></select>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="register-city">Real name:</label>
                                    <input id="register-city" class="form-control text-input" type="text" name="city" ng-model="user.city" placeholder="City"/>
                                </div>
                                <button type="submit" class="btn btn-default">Register <i class="fa fa-cog" ng-show="!isLoading"></i><i class="fa fa-cog fa-spin" ng-show="isLoading"></i></button>
                                <div>
                                    <p class="error-message text-danger">{{message}}</p>
                                </div>
                            </form>
                        </div>
                        <div id="login-div" class="form-div">
                            <form id="login-form" name="login-form" ng-controller="LoginController" ng-submit="login()">
                            <h4 class="form-title"><div class="close-icon-div"><a class="close-icon-link" href="#"><i class="fa fa-times close-icon text-danger"></i></a></div>User login</h4>
                                <div class="form-group">
                                    <label class="sr-only" for="login-username">Username:</label>
                                    <input id="login-username" class="form-control text-input" type="text" name="username" ng-model="user.username" placeholder="User name"/>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="login-password">Password:</label>
                                    <input id="login-password" class="form-control text-input" type="password" name="password" ng-model="user.password" placeholder="Password"/>
                                </div>
                                <button type="submit" class="btn btn-default">Log in <i class="fa fa-cog" ng-show="!isLoading"></i><i class="fa fa-cog fa-spin" ng-show="isLoading"></i></button>
                                <div>
                                    <p class="error-message text-danger">{{message}}</p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div id="login-logged" ng-show="isLogged">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div id="menu-div" role="presentation" class="dropdown" ng-controller="LogoutController">
                            <a class="dropdown-toggle login-strip-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" ng-show="!isLoading"><h4><i class="fa fa-bars"></i></h4></a><h4 ng-show="isLoading"><i class="fa fa-cog fa-spin"></i></h4>
                            <ul class="dropdown-menu pull-right">
                                <li><a id="settings-link" href="#"><i class="fa fa-wrench"></i> Edit profile</a></li>
                                <li><a href="#" ng-click="logout()"><i class="fa fa-sign-out"></i> Sign out</a></li>
                            </ul>
                        </div>
                        <h4>Welcome, {{user.realname}}!</h4>
                    </div>
                    <div id="settings-container" class="panel-body form-container">
                        <div id="settings-div" class="form-div">
                            <form id="settings-form" class="form-horizontal" name="settings-form" ng-controller="SettingsController" ng-submit="update(new)">
                                <h4 class="form-title"><div class="close-icon-div"><a class="close-icon-link" href="#"><i class="fa fa-times close-icon text-danger"></i></a></div>Edit profile</h4>
                                <div class="form-group">
                                    <label for="settings-password" class="col-sm-5 control-label">New password:</label>
                                    <div class="col-sm-7">
                                        <input id="settings-password" class="form-control text-input" type="password" name="password" ng-model="new.newPassword" placeholder="Unchanged"></input>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="settings-password-repeat" class="col-sm-5 control-label">Repeat password:</label>
                                    <div class="col-sm-7">
                                        <input id="register-password-repeat" class="form-control text-input" type="password" name="password-repeat" ng-model="new.passwordRepeat" placeholder="Unchanged"></input>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="settings-realname" class="col-sm-5 control-label">Real name:</label>
                                    <div class="col-sm-7">
                                        <input id="settings-realname" class="form-control text-input" type="text" name="realname" ng-model="new.realname" placeholder="Unchanged"></input>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="settings-country" class="col-sm-5 control-label">Country:</label>
                                    <div class="col-sm-7">
                                        <input id="settings-country" class="form-control text-input" type="text" name="country" ng-model="new.country" placeholder="Unchanged"></input>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="settings-state" class="col-sm-5 control-label">State:</label>
                                    <div class="col-sm-7">
                                        <input id="settings-state" class="form-control text-input" type="text" name="state" ng-model="new.state" placeholder="Unchanged"></input>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="settings-city" class="col-sm-5 control-label">City:</label>
                                    <div class="col-sm-7">
                                        <input id="settings-city" class="form-control text-input" type="text" name="city" ng-model="new.city" placeholder="Unchanged"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="settings-current-password" class="col-sm-5 control-label">Current password:</label>
                                    <div class="col-sm-7">
                                        <input id="settings-current-password" class="form-control text-input" type="password" name="currentPassword" ng-model="new.currentPassword" required/>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-default">Update <i class="fa fa-cog" ng-show="!isLoading"></i><i class="fa fa-cog fa-spin" ng-show="isLoading"></i></button>
                                <div>
                                    <p class="error-message text-danger" ng-show="errorStatus == 'error'">{{errorMessage}}</p>
                                    <p class="error-message text-success" ng-show="errorStatus == 'success'">User settings successfully updated!</p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // Required by countries.js
    populateCountries("country", "state");

    // Animate the "login", "register" and "settings" sections
    (function($) {
        $("#login-link").click(function() {
            if($("#login-div").css('display') == 'none') {
                $("#form-container").css("height", "15em");
                $("#register-div").removeClass("animated slideInDown").addClass("animated fadeOutDown");
                window.setTimeout(function() {
                    $("#register-div").removeClass("animated fadeOutDown").css('display', 'none');
                    $("#login-div").css('display', 'block').addClass("animated slideInDown");
                }, 400);
            }
        });
        $("#register-link").click(function() {
            if($("#register-div").css('display') == 'none') {
                $("#form-container").css("height", "32.5em");
                $("#login-div").removeClass("animated slideInDown").addClass("animated fadeOutDown");
                window.setTimeout(function() {
                    $("#login-div").removeClass("animated fadeOutDown").css('display', 'none');
                    $("#register-div").css('display', 'block').addClass("animated slideInDown");
                }, 400);
            }
        });
        $("#settings-link").click(function() {
            if($("#settings-div").css('display') == 'none') {
                $("#settings-container").css("height", "45em");
                $("#settings-div").css('display', 'block').addClass("animated slideInDown");
            }
        });
        $(".close-icon-link").click(function() {
            $(".form-container").css("height", "0");
            window.setTimeout(function() {
                $(".form-div").css("display", "none");
            }, 400);
        });
    }(jQuery));
</script>